<!DOCTYPE html>
<html lang="en">
<head>
	<title>About Us</title>
	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>
	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>

	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/team.css" rel="stylesheet" type="text/css">
	<link href="/static/style.css" rel="stylesheet" type="text/css">

</head>
<body background="/static/images/bg.jpg" background-repeat="repeat" z-index="-1">
	<div class="banner"><img src="/static/bootstrap/img/profile.jpg" style="width:100%"></div>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="javascript:void()">Social Searcher</a>
				<ul class="nav pull-left">
                      <li><a href="/home" href="javascript:void(0)">Home</a></li>
                </ul>
			</div>
		</div>
	</div>
	<div class="container main">
		<div id ="team"></div>
			<center><h2 class = "page-subtitle text" >"The Blessed Dorks"</h2><br></br></center>
			<center><b><p>We are all currently in 5th year taking up Bachelor of Science in Computer Engineering in Polytechnic University of the Philippines in Sta. Mesa, Manila. We love creating pages, we really do and we are very proud to be PUPIAN. Below are some details about our team that is still tough in friendship beyond the challenges we have encountered.</b></p></center><br></br>
		<div class ="cl-20"><div>

		<div class="shadow-pic img-left"><img src="/static/bootstrap/img/Mai.jpg" class = "face" alt="mai" /></div>
		<div class ="team title">
		<p class = "pad-10">

		<table width="250" border="0">
			<tr>
				<td colspan="2" style="background-color:#008080;">
					<center>
						<h5>Mylene N. Bayan :
							<h5 style="color:#33CC33" > Lead Programmer </h5>
						</h5>
					</center>
				</td>
			</tr>
		</table>
		<h5>Birthday: April 23, 1992<br />Hometown: San Miguel, Bulacan<br />Email: mylenebayan@yahoo.com</h5>
		<br />
		<h5>She's small but terrible.</h5>
		<br />
		<h5>Motto:</h5>
		<h5>"The loser says it is possible but it is difficult,<br /> the winner says it is difficult but it is possible."</h5>
		<a href="http://www.facebook.com/myne11" target="_blank"><img src= "/static/icon-findme.jpg" style="width:120px;height:35px"/></a>
		</p>
		</div>
		<div class ="cl-30"></div>

		<div class="shadow-pic img-left"><img src="/static/bootstrap/img/jens.JPG" class ="face" alt="jens"/></div>
		<div class ="team title">
		<p class = "pad-10">
		<table width="250" border="0">
			<tr>
				<td colspan="2" style="background-color:#008080;">
					<center>
						<h5>Jeniean B. Las Pobres :
							<h5 style="color:#33CC33" > Front-end Programmer </h5>
						</h5>
					</center>
				</td>
			</tr>
		</table>
		<h5>Birthday: September 24, 1990<br />Hometown: Jala-Jala, Rizal<br />Email: laspobresjeniean@yahoo.com</a></h5>
		<br />
		<h5>Creative, loves music, multimedia expert in the group and take note, she's super corny.</h5>
		<br />
		<h5>Motto:</h5>
		<h5>"Knowing is not enough; we must apply.<br /> Willing is not enough; we must do."</h5>
		<a href="http://www.facebook.com/cornyjens" target="_blank"><img src= "/static/icon-findme.jpg" style="width:120px;height:35px"/></a>
		</p>
		</div>
		<div class ="cl-30"></div>

		<div class="shadow-pic img-left"><img src="/static/bootstrap/img/Ann.JPG" class="face" alt="ann" /></div>
		<div class ="team title">
		<p class = "pad-10">
		
		<table width="250" border="0">
			<tr>
				<td colspan="2" style="background-color:#008080;">
					<center>
						<h5>Rose-Ann L. Mariño :
							<h5 style="color:#33CC33" > Back-end Programmer </h5>
						</h5>
					</center>
				</td>
			</tr>
		</table>

		<h5>Birthday: July 22, 1992<br />Hometown: San Luis, Pampanga<br />Email: roseannl.marino@gmail.com</h5>
		<br />
		<h5>Girlie type and straight-forward. The mathematician.</h5>
		<br />
		<h5>Motto:</h5>
		<h5>"The past is where you learned the lesson. The future is <br />where you apply the lesson. Don't give up in the middle."</h5>
		<a href="http://www.facebook.com/roseann.marino750" target="_blank"><img src= "/static/icon-findme.jpg" style="width:120px;height:35px"/></a>
		</p>
		</div>
		<div class ="cl-30"></div>

		<div class="shadow-pic img-left"><img src="/static/bootstrap/img/ailala.jpg" class="face" alt="aila" /></div>
		<div class ="team title">
		<p class = "pad-10">
	
		<table width="300" border="0">
			<tr>
				<td colspan="2" style="background-color:#008080;">
					<center>
						<h5>Aila Marie L. Samarita : 
							<h5 style="color:#33CC33" >Back-end Programmer</h5>
						</h5>
					</center>
				</td>
			</tr>
		</table>

		<h5><br />Birthday: October 8, 1992<br />Hometown: Calapan, Oriental Mindoro<br />Email: aila.samarita@yahoo.com</h5>
		<h5>The resident rockstar, loves music. Even how much she denies, she is still a rockstar.</h5>
		<br />
		<h5>Motto:</h5>
		<h5>"Defeat brings a lesson, it gives a chance to rebuild, a chance <br /> to start again, with the knowledge of what does not work."</h5>
		<a href="http://www.facebook.com/aila.samarita" target="_blank"><img src= "/static/icon-findme.jpg" style="width:120px;height:35px"/></a>
		</p>
		</div>
		<div class ="cl-30"></div>

		<h5>
			<footer align="center" style ="position:absolute;top:1750px;left:730px">Copyright © 2012 The Blessed Dorks™, All Rights Reserved.
			</footer>
		</h5>


	</div>

</body>
</html>